.inputWidth {
    max-width: 100px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 800px) {
    .flex {
        display: block;
    }
}