.imgFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px #ececec;
    width: 171px;
}

.editIcon, .removeIcon {
    padding: 10px 15px;
}

.editIcon:hover, .removeIcon:hover {
    opacity: 0.8;
}

.editFormPadding {
    padding: 10px 100px 20px 60px;
}

.deleteFormPadding {
    padding: 20px 30px;
}

.inputWidth {
    max-width: 100px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 460px) {
    .imgFooter {
        width: 221px;
    }

    .editIcon, .removeIcon {
        padding: 12px 25px;
    }
}