.cardContainer {
    width: 20%;
    display: flex;
    justify-content: center;
}

.card {
    margin: 20px;
    width: 171px;
}

.card:hover {
    border-top: 1px solid #F1F5F7;
    border-bottom: 2px solid #E57373;
}

.imageBox {
    height: 242px;
    width: 171px;
}

.imageBox:hover {
    opacity: 0.9;
}

.imageBox img {
    height: 100%;
    width: 100%;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.details {
    padding: 0 10px;
    font-size: 11px;
    color: #4A4A4A;
}

.details h3 {
    font-weight: 700;
    margin-top: 10px;
}

.details div {
    margin: 4px 0;
}

.textOverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1100px) {
    .cardContainer {
        width: 25%;
    }
}

@media screen and (max-width: 900px) {
    .cardContainer {
        width: 33.3333%;
    }
}

@media screen and (max-width: 650px) {
    .cardContainer {
        width: 50%;
    }
}

@media screen and (max-width: 460px) {
    .card {
        width: 221px;
    }

    .imageBox {
        height: 292px;
        width: 221px;
    }

    .cardContainer {
        width: 100%;
    }
}
