.navbar {
    padding: 25px 30px;
    background: white;
    box-shadow: 1px 1px 1px lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #E57373;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.addBtn {
    background: #E57373;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 1px 1px;
}

.addBtn:hover {
    opacity: 0.85;
}

.addBtn a {
    color: #E57373;
    font-size: 16px;
}